<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/users/{id}(id=${user.id})}" th:object="${user}" method="post">
  <input type="hidden" th:field="*{id}" />
  <label for="name">Name:</label>
  <input type="text" th:field="*{name}" id="name" />
  <br>
  <label for="age">Age:</label>
  <input type="text" th:field="*{age}" id="age" />
  <br>
  <input type="hidden" name="_method" value="put" />
  <button type="submit">Save</button>
</form>
</body>
</html>
